<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form class="first-form" [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Мейл та пароль</ng-template>
      <mat-form-field>
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" formControlName="email">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
        <button
          mat-icon-button
          matSuffix
          (click)="hidePassword = !hidePassword"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePassword"
        >
          <mat-icon>
            {{hidePassword ? 'visibility_off' : 'visibility'}}
          </mat-icon>
        </button>
      </mat-form-field>

      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Мої дані</ng-template>

      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Choose a date</mat-label>
          <input
            matInput
            formControlName="birthDate"
            [max]="maxDate"
            [matDatepicker]="picker"
          >
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <mat-button-toggle-group formControlName="sex">
        <mat-button-toggle value="male">Male</mat-button-toggle>
        <mat-button-toggle value="female">Female</mat-button-toggle>
      </mat-button-toggle-group>

      <div>
        <mat-form-field class="example-chip-list">
          <mat-chip-list #chipListOfMyCities aria-label="Fruit selection">
            <mat-chip
              *ngFor="let city of myCities"
              [selectable]="selectable"
              (removed)="removeChip('myCities', city, secondFormGroup.get('cities'))">
              {{city}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input
              placeholder="Add city..."
              #myCityInput
              formControlName="cities"
              [matAutocomplete]="autocompleteMyCities"
              [matChipInputFor]="chipListOfMyCities"
              (matChipInputTokenEnd)="addChip('myCities', secondFormGroup.get('cities'), $event)">
          </mat-chip-list>
          <mat-autocomplete
            #autocompleteMyCities="matAutocomplete"
            (optionSelected)="
            selectChip('myCities',
            secondFormGroup.get('cities'),
            $event,
            'myCityInputRef')"
          >
            <mat-optgroup
              *ngFor="let group of stateGroups
              | autocompleteGroup:myCityInput.value:'letter':'names'"
              [label]="group.letter">
              <mat-option *ngFor="let name of group.names" [value]="name">
                {{name}}
              </mat-option>
            </mat-optgroup>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>purposeOfMeet</mat-label>
          <mat-select formControlName="purposeOfMeet">
            <mat-option value="sex">Sex</mat-option>
            <mat-option value="option2" disabled>Fun</mat-option>
            <mat-option value="option3">Dating</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>sexualOrientation</mat-label>
          <mat-select formControlName="sexualOrientation">
            <mat-option value="Bisexual">Bisexual</mat-option>
            <mat-option value="option2" disabled>Gay</mat-option>
            <mat-option value="option3">Hetero</mat-option>
            <mat-option value="option3">Other</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-divider></mat-divider>

      <div>
        <mat-form-field>
          <mat-label>Height</mat-label>
          <input
            matInput
            placeholder="cm"
            formControlName="height"
            appNumberMask>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>bodyType</mat-label>
          <mat-select formControlName="bodyType">
            <mat-option value="Slim">Slim</mat-option>
            <mat-option value="option2">Athletic</mat-option>
            <mat-option value="option3">Fat</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="legacy">
          <mat-label>colorEyes</mat-label>
          <mat-select formControlName="colorEyes">
            <mat-option
              *ngFor="let color of colorsEyes"
              [value]="color"
            >
              {{color}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="legacy">
          <mat-label>colorHair</mat-label>
          <mat-select formControlName="colorHair">
            <mat-option
              *ngFor="let color of colorsHair"
              [value]="color"
            >
              {{color}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-divider></mat-divider>

      <div>
        <mat-form-field class="example-chip-list">
          <mat-chip-list #chipListOfMyHobbies aria-label="Fruit selection">
            <mat-chip
              *ngFor="let hobby of myHobbies"
              [selectable]="selectable"
              (removed)="removeChip('myHobbies', hobby, secondFormGroup.get('hobbies'))">
              {{hobby}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input
              placeholder="New hobby..."
              #myHobbyInput
              formControlName="hobbies"
              [matAutocomplete]="autocompleteMyHobbies"
              [matChipInputFor]="chipListOfMyHobbies"
              (matChipInputTokenEnd)="addChip('myHobbies', secondFormGroup.get('hobbies'), $event)">
          </mat-chip-list>
          <mat-autocomplete
            #autocompleteMyHobbies="matAutocomplete"
            (optionSelected)="
            selectChip('myHobbies',
            secondFormGroup.get('hobbies'),
            $event,
            'myHobbyInputRef')"
          >
            <mat-option
              *ngFor="let hobby of filteredHobbies | autocomplete:myHobbyInput.value"
              [value]="hobby"
            >
              {{hobby}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Сreed</mat-label>
          <mat-select formControlName="creed">
            <mat-option value="Christian">Christian</mat-option>
            <mat-option value="atheist">Atheist</mat-option>
            <mat-option value="OTHER">Other</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="thirdFormGroup">
    <ng-template matStepLabel>Кого я шукаю</ng-template>
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Кого я шукаю</ng-template>

      <div>
        <mat-form-field>
          <mat-label>age from</mat-label>
          <input matInput
                 placeholder="y.o."
                 formControlName="ageFrom"
                 appNumberMask>
        </mat-form-field>
        <mat-form-field>
          <mat-label>age to</mat-label>
          <input matInput
                 placeholder="y.o."
                 formControlName="ageTo"
                 appNumberMask>
        </mat-form-field>
      </div>

      <div>
        <mat-button-toggle-group multiple formControlName="sex">
          <mat-button-toggle value="male">Male</mat-button-toggle>
          <mat-button-toggle value="female">Female</mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <div>
        <mat-form-field class="example-chip-list">
          <mat-chip-list #chipListOfCitiesForSearch aria-label="Fruit selection">
            <mat-chip
              *ngFor="let city of citiesForSearch"
              [selectable]="selectable"
              (removed)="removeChip('citiesForSearch', city, thirdFormGroup.get('cities'))">
              {{city}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input
              placeholder="Add city..."
              #cityInputForSearch
              formControlName="cities"
              [matAutocomplete]="autocompleteCitiesForSearch"
              [matChipInputFor]="chipListOfCitiesForSearch"
              (matChipInputTokenEnd)="addChip('citiesForSearch', thirdFormGroup.get('cities'), $event)">
          </mat-chip-list>
          <mat-autocomplete
            #autocompleteCitiesForSearch="matAutocomplete"
            (optionSelected)="
            selectChip('citiesForSearch',
            thirdFormGroup.get('cities'),
            $event,
            'cityInputForSearchRef')"
          >
            <mat-optgroup
              *ngFor="let group of stateGroups
              | autocompleteGroup:cityInputForSearch.value:'letter':'names'"
              [label]="group.letter">
              <mat-option *ngFor="let name of group.names" [value]="name">
                {{name}}
              </mat-option>
            </mat-optgroup>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>purposeOfMeet</mat-label>
          <mat-select multiple formControlName="purposeOfMeet">
            <mat-select-trigger>
              {{
              formControlsService.getValueFromControl(thirdFormGroup, 'purposeOfMeet')
                ? formControlsService.getValueFromControl(thirdFormGroup, 'purposeOfMeet', 0)
                : ''
              }}
              <span *ngIf="formControlsService.getValueFromControl(thirdFormGroup, 'purposeOfMeet').length > 1"
                    class="example-additional-selection">
                (+{{formControlsService.getValueFromControl(thirdFormGroup, 'purposeOfMeet').length - 1}}
                {{formControlsService.getValueFromControl(thirdFormGroup, 'purposeOfMeet').length === 2 ? 'other' : 'others'}}
                )
              </span>
            </mat-select-trigger>
            <mat-option value="sex">Sex</mat-option>
            <mat-option value="option2" disabled>Fun</mat-option>
            <mat-option value="option3">Dating</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>sexualOrientations</mat-label>
          <mat-select multiple formControlName="sexualOrientations">
            <mat-select-trigger>
              {{
              formControlsService.getValueFromControl(thirdFormGroup, 'sexualOrientations')
                ? formControlsService.getValueFromControl(thirdFormGroup, 'sexualOrientations', 0)
                : ''
              }}
              <span *ngIf="formControlsService.getValueFromControl(thirdFormGroup, 'sexualOrientations').length > 1"
                    class="example-additional-selection">
                (+{{formControlsService.getValueFromControl(thirdFormGroup, 'sexualOrientations').length - 1}}
                {{formControlsService.getValueFromControl(thirdFormGroup, 'sexualOrientations').length === 2 ? 'other' : 'others'}}
                )
              </span>
            </mat-select-trigger>
            <mat-option value="Bisexual">Bisexual</mat-option>
            <mat-option value="option2" disabled>Gay</mat-option>
            <mat-option value="option3">Hetero</mat-option>
            <mat-option value="option3">Other</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-divider></mat-divider>

      <div>
        <mat-form-field>
          <mat-label>minimum</mat-label>
          <input
            matInput
            placeholder="Min"
            formControlName="minHeight"
            appNumberMask>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Maximum</mat-label>
          <input
            matInput
            placeholder="Max"
            formControlName="maxHeight"
            appNumberMask>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>bodyTypes</mat-label>
          <mat-select multiple formControlName="bodyTypes">
            <mat-select-trigger>
              {{
              formControlsService.getValueFromControl(thirdFormGroup, 'bodyTypes')
                ? formControlsService.getValueFromControl(thirdFormGroup, 'bodyTypes', 0)
                : ''
              }}
              <span *ngIf="formControlsService.getValueFromControl(thirdFormGroup, 'bodyTypes').length > 1"
                    class="example-additional-selection">
                (+{{formControlsService.getValueFromControl(thirdFormGroup, 'bodyTypes').length - 1}}
                {{formControlsService.getValueFromControl(thirdFormGroup, 'bodyTypes').length === 2 ? 'other' : 'others'}}
                )
              </span>
            </mat-select-trigger>
            <mat-option value="Slim">Slim</mat-option>
            <mat-option value="option2">Athletic</mat-option>
            <mat-option value="option3">Fat</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="legacy">
          <mat-label>colorsEyes</mat-label>
          <mat-select multiple formControlName="colorsEyes">
            <mat-select-trigger>
              {{
              formControlsService.getValueFromControl(thirdFormGroup, 'colorsEyes')
                ? formControlsService.getValueFromControl(thirdFormGroup, 'colorsEyes', 0)
                : ''
              }}
              <span *ngIf="formControlsService.getValueFromControl(thirdFormGroup, 'colorsEyes').length > 1"
                    class="example-additional-selection">
                (+{{formControlsService.getValueFromControl(thirdFormGroup, 'colorsEyes').length - 1}}
                {{formControlsService.getValueFromControl(thirdFormGroup, 'colorsEyes').length === 2 ? 'other' : 'others'}}
                )
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let color of colorsEyes" [value]="color">{{color}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="legacy">
          <mat-label>colorsHair</mat-label>
          <mat-select multiple formControlName="colorsHair">
            <mat-select-trigger>
              {{
              formControlsService.getValueFromControl(thirdFormGroup, 'colorsHair')
                ? formControlsService.getValueFromControl(thirdFormGroup, 'colorsHair', 0)
                : ''
              }}
              <span *ngIf="formControlsService.getValueFromControl(thirdFormGroup, 'colorsHair').length > 1"
                    class="example-additional-selection">
                (+{{formControlsService.getValueFromControl(thirdFormGroup, 'colorsHair').length - 1}}
                {{formControlsService.getValueFromControl(thirdFormGroup, 'colorsHair').length === 2 ? 'other' : 'others'}}
                )
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let color of colorsHair" [value]="color">{{color}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-divider></mat-divider>

      <div>
        <mat-form-field class="example-chip-list">
          <mat-chip-list #chipListOfHobbiesForSearch aria-label="Fruit selection">
            <mat-chip
              *ngFor="let hobby of hobbiesForSearch"
              [selectable]="selectable"
              (removed)="removeChip('hobbiesForSearch', hobby, thirdFormGroup.get('hobbies'))">
              {{hobby}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input
              placeholder="New hobby..."
              #hobbyInputForSearch
              formControlName="hobbies"
              [matAutocomplete]="autocompleteHobbiesForSearch"
              [matChipInputFor]="chipListOfHobbiesForSearch"
              (matChipInputTokenEnd)="addChip('hobbiesForSearch', thirdFormGroup.get('hobbies'), $event)">
          </mat-chip-list>
          <mat-autocomplete
            #autocompleteHobbiesForSearch="matAutocomplete"
            (optionSelected)="
            selectChip('hobbiesForSearch',
            thirdFormGroup.get('hobbies'),
            $event,
            'hobbyInputForSearchRef')"
          >
            <mat-option
              *ngFor="let hobby of filteredHobbies | autocomplete:hobbyInputForSearch.value"
              [value]="hobby"
            >
              {{hobby}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Сreed</mat-label>
          <mat-select multiple formControlName="creed">
            <mat-select-trigger>
              {{
              formControlsService.getValueFromControl(thirdFormGroup, 'creed')
                ? formControlsService.getValueFromControl(thirdFormGroup, 'creed', 0)
                : ''
              }}
              <span *ngIf="formControlsService.getValueFromControl(thirdFormGroup, 'creed').length > 1"
                    class="example-additional-selection">
                (+{{formControlsService.getValueFromControl(thirdFormGroup, 'creed').length - 1}}
                {{formControlsService.getValueFromControl(thirdFormGroup, 'creed').length === 2 ? 'other' : 'others'}})
              </span>
            </mat-select-trigger>
            <mat-option value="Christian">Christian</mat-option>
            <mat-option value="atheist">Atheist</mat-option>
            <mat-option value="OTHER">Other</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="done()">Done</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
